@model Lab_10.Models.Rating

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
            <table class="table">
                <th>Movies In This Genre</th>
                @foreach (var item in Model.Movies)
                {
                    <tr>
                        <td>@item.Name</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RatingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
