@model Lab_5.Car

@{
    ViewBag.Title = "List";
}

@if (Model.Length > 0)
{
    <table>
        <thread><tr><th>Make</th><th>Model</th><th>Year</th><th>Engine</th><th>Asperation</th></tr></thread>
        <tbody>
            @foreach (Lab_5.Car c in Model)
            {
                <tr>
                    <td>@c.Make</td>
                    <td>@c.Model</td>
                    <td>@c.Year</td>
                    <td>@c.Engine</td>
                    <td>@c.Asperation</td>
                </tr>
            }
        </tbody>
    </table>
}